In [1]:
DATA_PATH = '../../data/given/201807_잔액정보.csv'

In [2]:
import pandas as pd

df = pd.read_csv(DATA_PATH)

In [3]:
df.head()

,기준년월,발급회원번호,잔액_B0M,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,SYN_0,2493245,99811,96281,2297153,0,0,0,108404,...,1598898,244003,0,0,0,57273,0,1700813,0,0
1,201807,SYN_1,495634,256579,239055,0,0,0,0,409061,...,704504,267764,0,283025,0,273649,0,0,0,0
2,201807,SYN_2,0,0,0,0,0,0,0,0,...,114846,120720,0,0,0,0,0,0,0,0
3,201807,SYN_3,25771,25771,0,0,0,0,0,19933,...,12345,11593,0,66245,0,0,0,0,0,0
4,201807,SYN_4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
len(df.loc[df['잔액_B0M'] == 0])

716397

In [54]:
import numpy as np

balances = df['잔액_B0M'].unique()

balances = np.sort(balances)
bal_df = pd.DataFrame(balances, columns=['bal'])
bal_df.loc[bal_df['bal'] > 100000].describe()

                bal
count  1.248166e+06
mean   1.824866e+06
std    2.206853e+06
min    1.000010e+05
25%    4.719552e+05
50%    9.793090e+05
75%    2.204235e+06
max    2.950054e+07

In [55]:
def label_bal(bal):
    if bal < 100000:
        return 0
    elif bal < 1000000:
        return 1
    else:
        return 2

In [59]:
df['label'] = [ label_bal(bal) for bal in df['잔액_B0M'] ]
df[['잔액_B0M','label']].head()

    잔액_B0M  label
0  2493245      2
1   495634      1
2        0      0
3    25771      0
4        0      0

In [60]:
df['label'].value_counts()

label
1    1207588
0    1113137
2     679275
Name: count, dtype: int64

In [47]:
bal_df = pd.DataFrame(balances, columns=['bal'])
bal_df.head()

   bal
0    0
1  606
2  614
3  618
4  619

In [51]:
len(df.loc[df['잔액_B0M'] < 100000])

1113137

In [ ]:
def labeliz

In [17]:
import matplotlib.pyplot as plt


plt.figure(figsize=(10, 6))
plt.bar(range(len(balances)), balances)

# Setting x and y labels
plt.xlabel('Index')
plt.ylabel('Balances Value')
plt.title('Balances Bar Graph')

# Displaying the plot
plt.show()

KeyboardInterrupt

Error in callback <function _draw_all_if_interactive at 0x0000025C0F50DD30> (for post_execute):

KeyboardInterrupt

Error in callback <function flush_figures at 0x0000025C0F5283A0> (for post_execute):

KeyboardInterrupt